{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-flow"
  ],
  "plugins": [
    [
      "module-resolver", {
        "alias": {
          "@root": "./src",
          "@components": "./src/components",
          "@screens": "./src/screens",
          "@modules": "./src/modules",
          "react": "preact",
          "react-dom/test-utils": "preact/test-utils",
          "react-dom": "preact/compat"
        }
      }
    ],
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h",
        "pragmaFrag": "Fragment"
      }
    ],
    [
      "@emotion/babel-plugin-jsx-pragmatic",
      {
        "module": "preact",
        "import": "h",
        "export": "h"
      }
    ],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
